.itemcard{
    display: inline-block;
    padding: 2% 3%;
    margin: 0.5%;
    background-color: #ff4257;
    max-width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    min-width: 100px;
    margin-left: 1px;
    margin-right: 5px;
}