.rack{
    margin-top: 6%;
    text-align: center;
    position: relative;
}

.rackbody{
    background-color: #111;
    position: relative;
    margin-top: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 3%;
    border-radius: 5px;
    min-height: 40px;
    max-height: 55vh;
    height: 45vh;
    overflow-y: auto;
}